html {
  cursor: url('./images/cursor_rounded.png'), auto;
  min-height: 100%;
  background-image: url('./images/backgroundwebsite.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
a:hover{
  cursor: url('./images/cursor_pointed.png'), auto;
}
div_a { 
text-align: center;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
.information_box_blue {
background: #482af7;
margin: 10px;
padding: 15px 20px 15px 20px;
border-radius: 5px;
text-align: left;
opacity: 0.9;
}
.information_box_blue_text {
  line-height:32px;
  font-size:20px;
  color: #fff;
}
.information_box_yellow {
  background: #ffd300;
  margin: 10px;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  text-align: left;
  opacity: 0.9; 
}
.information_box_yellow_text {
  line-height:32px;
  font-size:20px;
  color:black;
}
 .information_box_pink {
   background: #ff00d3;
   margin: 10px;
   padding: 15px 20px 15px 20px;
   border-radius: 5px;
   text-align: left;
   opacity: 0.9;
 } 
.information_box_pink_text {
  line-height:32px;
  font-size:20px;
  color:white;
}

.information_column_yellow {
  background: #ffd300;
  float: left;
  width: 1000px;
  height: 1000px;
  margin: 10px; 
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  opacity: 0.9;
}
