html {
  cursor: url('./images/cursor_rounded.png'), auto;
  min-height: 100%;
  background-image: url('./images/backgroundwebsite.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
a:hover{
  cursor: url('./images/cursor_pointed.png'), auto;
}
div_a { 
text-align: center;
}
main {
  background-color: #5ce1e6 
}
table.center {
  margin-left: auto;
  margin-right: auto;
}



  
